.gallery {
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    box-sizing: border-box;
    border: 1px solid #ddd;
    display: block;
}

.showbox {
    position: relative;
    width:600px;
    height:400px;
    border:1px solid #3300aa;
    overflow: hidden;
}

.message{
    width:200px;
}
.imagebox{
    position:absolute;
    z-index: 1;
    height: 400px;
}
.image{
    float: left;
    width: 600px;
    height:400px;
}



.gallery-inner {

}

.image-box {
    height: 100%;
    line-height: 598px;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    cursor: default;
}

.bui-left {
    float: left;
}

.gallery .info-box {
    width: 340px;
    height: 100%;
    box-sizing: border-box;
    border-left: 1px solid #ddd;
}

.image-list {
    margin-left: 20px;
    margin-top:20px;
    margin-bottom:20px;
    width: 772px;
}

.image-item {
    width: 600px;
    height: 500px;
}

.image-item-inner {
    /*display: inline-block;*/
    /*height: 100%;*/
    /*width: 100%;*/
    width: 600px;
    height: 500px;
    vertical-align: top;
}

.gallery .info-box-inner {
    padding: 10px 15px;
}

.image-title {
    font-size: 20px;
    color: #222;
    line-height: 30px;
    font-weight: 700;
}

.pgc .media-user > img {
    width: 28px;
    height: 28px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 1px solid #e8e8e8;
    background: #ddd;
    vertical-align: middle;
}

.pgc .media-user > span {
    font-size: 16px;
    color: #222;
    line-height: 30px;
    max-width: 148px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gallery .info-box .abstract {
    font-size: 16px;
    color: #222;
    line-height: 24px;
    max-height: 350px;
    overflow: auto;
}

.gallery .info-box .abstract-index {
    font-family: Georgia;
    font-size: 18px;
    color: #101010;
    line-height: 36px;
    margin-right: 8px;
}

gallery .info-box .tag-list {
    margin-top: 14px;
    display: inline-block;
    font-size: 0;
}

.gallery .info-box .tag-list .tag-item {
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 8px;
    font-size: 14px;
    color: #406599;
}

.gallery .info-box .tag-list .tag-item:before {
    content: "/";
    padding-right: 10px;
    color: #e0e0e0;
}

ol, ul {
    list-style: none;
}

.gallery .info-box .tag-list .tag-item > a {
    display: inline-block;
    color: #406599;
}

a:visited {
    color: #999;
}


.img-carousel {
    width: 700px;
    height: 300px;
    margin-left: 100px;
}

.img-carousel > img {
    width: 600px;
    height: 300px;

}

